.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.check-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.check-slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .check-slider {
  background-color: #35924a;
}

input:focus + .check-slider {
  box-shadow: 0 0 1px #35924a;
}

input:checked + .check-slider:before {
  transform: translateX(24px);
}

/* Rounded sliders */
.check-slider.round {
  border-radius: 34px;
}

.check-slider.round:before {
  border-radius: 50%;
}
